{% extends 'main/base.html' %}
{% load static %}


{% block title %}Qo`mita{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<div class="page-home">
    <div class="container">
        <div class="page-home-item">
            <a class="to-home" href="{% url 'main:main' %}"><i class="fa-regular fa-left-from-line"></i></a>
            <h1>Imtiyozlar</h1>
            <p>~ Qo'qon Turizmning Imtiyozlar sahifasiga xush kelibsiz. Bizning maxsus qo‘mitamiz Qo‘qonda turizmni
                rivojlantirish va rivojlantirishga bel bog‘lagan tajribali mutaxassislardan iborat. Bizning
                tashabbuslarimizni boshqarayotgan va faol hamjamiyatimizda turizm kelajagini shakllantirayotgan
                shaxslar bilan tanishing.</p>
            <h2>Imtiyozlar bo'limi a'zolari</h2>
            <li>Rais: Baxtiyor Umarov</li>
            <li>Rais O'rinbosari: Jamshid Abdusalomov</li>
            <li>Kotib: Lola Rahmonboyeva</li>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}